
      
      .box1 {background-color: darkkhaki;
    
         width:600px;
         height: 400px;
        }  
         
         .box2 {

            background-color: darkorange;
            width: 400px;
            height: 250px;

         }

         .box3{background-color: cyan;
         width:100px;
         height:300px;
         }
        .box4{background-color: darkviolet;
            width:250px;
            height:120px;
        
        }

